.stylecard {
    box-shadow: 2px 9px 106px -25px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}

.signup-email,
.signup-password {
    width: 80%;
    border-radius: 10px;
    box-shadow: 17px 6px 22px -10px rgba(0, 0, 0, 0.5);
}
.signup-nickname {
    width: 90%;
    border-radius: 10px;
    box-shadow: 17px 6px 22px -10px rgba(0, 0, 0, 0.5);
}
.signup-stdnum{
    width: 90%;
    border-radius: 10px;
    box-shadow: 17px 6px 22px -10px rgba(0, 0, 0, 0.5);

}
.signup-form-name {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.signup-btn {
    margin-top: 10px;
    border-radius: 10px;
    width: 60%;
    box-shadow: 17px 6px 22px -6px rgba(0, 0, 0, 0.5);
}
